/*-------GENERAL STYLES-------*/
body {
    display: flex;
    flex-direction: column; 
    font-family: 'Open Sans', helvetica, arial, sans;
    min-height: 100vh;
}
.content-container {
    display: flex;
    flex: 1 1 auto; 
    padding-top: 10vh; 
    width: 100%;
}
a {
    color: #6397b5;
}
h1 {
    font-size: 7vw;
    margin-top: 0;
}
h2 {
    font-size: 2em;
}
h4 {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    line-height: 1.5;
    margin: 0.75em 0;
}
h2 ~ p {
    font-size: 0.8em;
    font-style: italic;
    margin: 2em auto;
    max-width: 70%;
    text-align: center;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', helvetica, sans;
    font-weight: 100;
}
/*-------HEADER STYLES--------*/

.header {
    height: 10vh;
    display: none;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 20;
}
.header-nav {
    float: right;
    list-style: none;
    padding: 1em 2em;
}
.header-nav > li {
    display: inline-block;  
    margin-left: 1em;
}
.header-nav > li ~ li {
    border-left: 1px solid #fff;
    padding-left: 1em;
}
.header-nav a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.header-nav a:hover {
    color: red;
    cursor: pointer;
}

/*DROPDOWN*/

.dropdown {
   position: relative; 
}
.drop-menu {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    display: none;
    list-style: none;
    padding: 1em 0 0;
    position: absolute;
    z-index: 9;
    right: 0;
}
.drop-menu li {
    background-color: rgb(219, 188, 127);
}
.drop-menu a {
    color: #333;
    display: block;
    font-weight: normal;
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    text-transform: none;
    white-space: nowrap;
}
.drop-menu a:hover {
    background-color: rgba(0,0,0,0.1);
    color: #333;
}



/*-------FULL HERO------*/

.home {
    width: 100%;
    margin: 0;
    margin-top: -10vh;
}
.full-hero {
    background-size: cover;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: block;
}
.full-hero:after {
    bottom: 2vh;
    color: #fff;
    content: "﹀";
    font-size: 36px;
    font-weight: 100;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0);
    animation: bounce 2s;
}
.hero-home {
    background-image: url(/images/home-guitar.jpg);
    background-size: cover;
    background-position: center-top; 
}
.hero-content {
    color: #fff;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0, -50%);
}

/*--------HOME SECTION------*/

.home-callout{
    text-align: center;
    width: 40%;
    margin: auto;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
    padding: 1em;
    margin-top: 10vh;
    font-size: 24px;
    font-weight: 300;
}

/*-------FOOTER STYLES-------*/

.footer {
    background-color: #000;
    color: #fff;
}
.footer div {
    height: 10vh;
}

/*---------TYPES STYLES-------*/

.types_container {
    margin: 0;
    background: #000;
}
.types {
    padding: .5vw;
    font-size: 3em;
    display: -ms-flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: row wrap;
    flex-flow: row wrap;
    display: -webkit-box;
    display: flex;
}
.types div {
    -ms-flex: auto;
    flex: auto;
    width: 50vw;
    margin: 0.5vw;
}
.types div img {
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.t1, .t2, .t3, .t4 {
    position: relative;
    text-align: center;
    color: black;
}
.t1 h2:hover ~ img, .t2 img:hover, .t3 img:hover, .t4 img:hover,  {
    opacity: 0.8;
}
.t1 h2, .t2 h2, .t3 h2, .t4 h2 {
    position: absolute;
    display: inline-block;
    z-index: 13;
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 400px) {
  .types div { margin: 0; }
  .types { padding: 0; }
  
}

/*-----------FORM STYLES--------*/

.form_full_container {
    background-color: #000;
    width: 100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 0.5s linear infinite;
    /* Safari */
    animation: spin 0.3s linear 3;
    position: absolute; 
    top: 50%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

/*------------FOOTER STYLES----------*/

footer div {
    margin: auto;
    text-align: center;
    position: relative;
    padding: 1rem;
}
footer div form {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    right: 1em;
}

footer div form[placeholder] {
    color: #333;
    font-family: 'Raleway', sans-serif;
}

/* Safari */
/*
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
*/
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}