<footer class="footer">
       <a href="https://github.com/apatt96" class="social-link" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        <form name="email_form" action="/action_page.php" onsubmit="return validateForm();" method="post">
            <h3>Be sure to sign up for the <span>newsletter:</span></h3>
            <input type="text" name="email" placeholder="youremail@mail.com">
            <input type="submit" value="Submit">
        </form>
    <script>
        function validateForm() {
            var x = document.forms["email_form"]["email"].value;
            var atpos = x.indexOf("@");
            var dotpos = x.lastIndexOf(".");
            if (atpos < 1 || dotpos < atpos + 2 || dotpos + 2 >= x.length) {
                alert("Not a valid e-mail address");
                return false;
            }
            else {
                alert("Thank you for signing up!");
                return true;
            }
        }

    </script>
</footer>
