<li><a href="/">HOME</a></li>
<li class="dropdown">
    <span id="link3" class="drop-trigger"><a href="/types/index.html">TYPES</a></span>
  <ul class="drop-menu">
      <li><a href="../references/electric.html">Electric</a></li>
      <li><a href="../references/acoustic.html">Acoustic</a></li>
      <li><a href="../references/hollowbody.html">Hollow-body</a></li>
      <li><a href="../references/classical.html">Classical</a></li>
  </ul>
</li>
<li><a href="../findyourfit/index.html">FIND YOUR FIT</a></li>
