<li><a href="/AllAboutGuitars" id="scroller">HOME</a></li>
<li class="dropdown">
    <a href="/AllAboutGuitars/types/index.html">TYPES</a>
    <ul class="drop-menu">
        <li><a href="/AllAboutGuitars/references/electric.html">Electric</a></li>
        <li><a href="/AllAboutGuitars/references/acoustic.html">Acoustic</a></li>
        <li><a href="/AllAboutGuitars/references/hollowbody.html">Hollow-body</a></li>
        <li><a href="/AllAboutGuitars/references/classical.html">Classical</a></li>
    </ul>
</li>
<li><a href="/AllAboutGuitars/findyourfit/index.html">FIND YOUR FIT</a></li>
